/* Dashboard.css */

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f8ff;
  min-height: 100vh;
}

.dashboard-header {
  background-color: #e0fff0;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.user-info {
  display: flex;
  align-items: center;
}

.user-photo {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: #fff;
  margin-right: 10px;
}

.user-name {
  color: #333;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0 10px;
}

.logo {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.App-logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.header-title {
  flex-grow: 1;
  text-align: center;
}

.main-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.chat-history-container {
  width: 30%;
  padding: 10px;
  border-right: 1px solid #ddd;
  background-color: #fff;
}

.chat-history-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.chat-history {
  max-height: 70vh;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.chat-entry {
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.chat-entry .user-query {
  font-weight: bold;
}

.chat-entry .assistant-response {
  margin-top: 5px;
  padding-left: 10px;
}

.recommendation-box {
  margin-top: 5px;
  padding-left: 20px;
  font-style: italic;
}

.chat-box-container {
  width: 70%;
  padding: 10px;
}

.chat-box {
  margin: 20px 0;
  width: 100%;
}

input[type="text"] {
  width: calc(100% - 100px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.ai-response {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd; /* Example styling */
  border-radius: 5px;
}

/* Responsive behavior */
@media (max-width: 768px) {
  .search-input {
    width: 80%;
  }

  .main-content {
    flex-direction: column;
  }

  .chat-history-container,
  .chat-box-container {
    width: 100%;
  }
}
